.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
remote-file-explorer-backend/__pycache__/config.cpython-39.pyc
remote-file-explorer-backend/__pycache__/crypto.cpython-39.pyc
remote-file-explorer-backend/__pycache__/file_helper.cpython-39.pyc
remote-file-explorer-backend/__pycache__/file_manager.cpython-39.pyc
remote-file-explorer-backend/__pycache__/permission_manager.cpython-39.pyc
remote-file-explorer-backend/__pycache__/response_helper.cpython-39.pyc
remote-file-explorer-backend/__pycache__/user_manager.cpython-39.pyc
